node_modules/

# Logs
logs

*.log
npm-debug.log*
#env
.env
.eslintcache
.vscode
.roo
.editorconfig
.eslintignore
.prettierignore
.prettierrc.json

#data
*.db
*.db-shm
*.db-wal

coverage/

*.js
!index.js
!run_test.js